# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle
name: Run build and tests

on:
  push:
    branches:
      - '**'
  pull_request:
    branches: [ release/2.X ]

jobs:
  build:
    permissions:
      checks: write
      pull-requests: write
      contents: read
    environment: CIRelease
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: IntershopCommunicationsAG/.github/actions/gradle-plugin-setup@v0.4
      - name: set-env
        uses: allenevans/set-env@v2.0.0
        with:
          GITURL: ${{ secrets.GITURL }}
          GITUSER: ${{ secrets.GITUSER }}
          GITPASSWD: ${{ secrets.GITPASSWD }}
          SVNURL: ${{ secrets.SVNURL }}
          SVNUSER: ${{ secrets.SVNUSER }}
          SVNPASSWD: ${{ secrets.SVNPASSWD }}
      - name: Build
        uses: IntershopCommunicationsAG/.github/actions/gradle-plugin-build@v0.4
